.header {
    text-align: center;
}

.header, #survey-form, input {
    font-family: 'Roboto', sans-serif;
}
#survey-form {
    line-height: 1.6em;
}

input [type="value"] {
    font-size: 1em;
}

input:focus:required:invalid {
    background: rgb(214, 211, 211);
    color: #1f2224;
    font-weight: 700;
}

#title {
    font-size: 1.5em;
    text-shadow: .03em .1em .1em #477CAB;
}

#title:hover {
    text-shadow: 0 .1em .02em #477CAB;
}

#description, #form-name {
    font-size: 1.2em;
}

#form-name {
    font-weight: 800;
    margin: 1em;
}

#yes {
    margin-top: 1em;
}

#name, .decision, #guests-quantity, .dishes, .diet, #email, #number-label, #number {
    margin-bottom: 1em;
}

#submit {
    background: transparent;
    border: 1px #577289 solid;
    border-radius: 4px;
    padding: .5em;
    font-size: 1em;
}

#submit:hover {
    border: 1px #477CAB solid;
    box-shadow: -.03em .1em .1em #477CAB;
}

#submit:active {
    box-shadow: -.03em .1em .1em #477CAB;
}

.no-outline:focus {
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #fff;
    padding: 5px;
}

